@media only screen and (max-device-width: 480px) {
    .mdl-mini-footer {
      padding-left: 0;
      font-size: 13px;
      text-align: left !important;
      padding-left: 5%;
    }

    .mdl-logo {
      margin-bottom: 0;
    }

    .android-navigation-container {
      display: none;
    }

    .search {
      display: none;
    }

    .mdl-layout-title {
      width: 300px !important;
    }
}