<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="/assets/css/nav-dropdown.css">
    <link rel="stylesheet" href="/assets/css/product.css">    
  </head>
  <body>

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      {% include header.html %}

      <div class="mdl-layout__drawer">
        <!-- <span class="mdl-layout-title">
          <a id="site-title" href="{{ site.baseurl }}/">
            <img class="rakuten-logo" src="/assets/rakuten-logo.png" width="50%">
            <div id="logo-title">Developers</div>
          </a>
        </span> -->
        <nav class="mdl-navigation">
          {% assign sorted_pages = site.helpcenter-mobile | sort: 'weight'%}
          {% include menu.html %}
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content">
          <div class="content">
            {{ content }}
          </div>
        </div>
      </main>
      <footer>
        {% include footer.html %}
      </footer>
    </div>
  </body>
</html>

<style> 
.mdl-layout__drawer .mdl-navigation {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding-top: 0px;
}
</style>