<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title"><a id="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></span>
        <nav class="mdl-navigation">
          {% assign sorted_pages = site.portals | sort: 'weight'%}
          {% include menu.html %}
        </nav>
      </div>
      <main class="mdl-layout__content">
        <iframe src="{{ page.link }}"></iframe>
      </main>
      <footer>
        {% include footer.html %}
      </footer>
    </div>
  </body>
</html>

<style> 
  iframe {
    height: 1000px;
    overflow: auto;
  }
</style>
