<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.min.css">
    <link rel="stylesheet" href="./assets/css/newindex.css">
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

      <div class="mdl-layout__header mdl-layout__header--waterfall">
          <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">
              <img class="rakuten-logo" src="./assets/rakuten-logo.png" width="80%">
            </span>
            <div class="mdl-layout-spacer"></div>
            <div class="android-navigation-container">
                <nav class="android-navigation mdl-navigation">
                  <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Home</a>
                  <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">About</a>
                  <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Support</a>
                </nav>
            </div>
          </div>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content">
          <div class="content">
            <div class="splash-container">
              <div class="background">
                <img class="layer" src="./assets/images/splash1.jpg">
              </div>
              <div class="overlay">
                <!-- <span id="text-overlay">
                  <p id="intro">A content management system built by Rakuten developers for Rakuten developers.</p>
                </span> -->
              </div>
              <div class="search-bar">
                  <form action="/search.html" method="get">
                    <span class="mdl-textfield mdl-js-textfield is-upgraded">
                      <input class="mdl-textfield__input" type="text" id="search-box" name="query" autocomplete="off">
                      <label class="mdl-textfield__label" for="sample1">Search</label>
                    </span>
                  </form>
              </div>
            </div>
            </div>
            <div class="section-separator">
              <div class="header">
                Products
              </div>
              <div class="content-grid mdl-grid">
                  <div class="mdl-cell">
                    <a href="{{ "/ssed/" | prepend: site.baseurl }}">
                      <div class="department-title">
                        Software Service Enablement Department
                      </div>
                      <div class="department-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
                        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
                        fugiat nulla pariatur.
                      </div>
                    </a>
                  </div>
                  <div class="mdl-cell">
                    <a href="{{ "/rit/" | prepend: site.baseurl }}">
                      <div class="department-title">
                        Rakuten Institute of Technology
                      </div>
                      <div class="department-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
                        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
                        fugiat nulla pariatur.
                      </div>
                    </a>
                  </div>                
                  <div class="mdl-cell">
                    <a href="{{ "/cloud-ops/" | prepend: site.baseurl }}">
                      <div class="department-title">
                        Cloud Ops
                      </div>
                      <div class="department-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
                        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
                        fugiat nulla pariatur.
                      </div>
                    </a>
                  </div>
                  <div class="mdl-cell">
                    <a href="{{ "/security/" | prepend: site.baseurl }}">   
                      <div class="department-title">
                        Security
                      </div>
                      <div class="department-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
                        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
                        fugiat nulla pariatur.
                      </div>
                    </a>
                  </div>
                  <div class="mdl-cell">
                    <a href="{{ "/esd/" | prepend: site.baseurl }}">
                      <div class="department-title">
                        Ecosystem Service Division
                      </div>
                      <div class="department-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
                        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
                        fugiat nulla pariatur.
                      </div>
                    </a>
                  </div>
                  <div class="mdl-cell">
                    <a href="{{ "/big-data/" | prepend: site.baseurl }}">
                      <div class="department-title">
                        Big Data
                      </div>
                      <div class="department-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
                        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
                        fugiat nulla pariatur.
                      </div>
                    </a>
                  </div>                  
                </a>
              </div>
            </div>
            <footer class="mdl-mega-footer">
              <div class="mdl-mega-footer__middle-section">

                <div class="mdl-mega-footer__drop-down-section">
                  <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
                  <h1 class="mdl-mega-footer__heading">Features</h1>
                  <ul class="mdl-mega-footer__link-list">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Partners</a></li>
                    <li><a href="#">Updates</a></li>
                  </ul>
                </div>

                <div class="mdl-mega-footer__drop-down-section">
                  <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
                  <h1 class="mdl-mega-footer__heading">Details</h1>
                  <ul class="mdl-mega-footer__link-list">
                    <li><a href="#">Specs</a></li>
                    <li><a href="#">Tools</a></li>
                    <li><a href="#">Resources</a></li>
                  </ul>
                </div>

                <div class="mdl-mega-footer__drop-down-section">
                  <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
                  <h1 class="mdl-mega-footer__heading">Technology</h1>
                  <ul class="mdl-mega-footer__link-list">
                    <li><a href="{{ "/help/" | prepend: site.baseurl }}">How it works</a></li>
                    <li><a href="{{ "/portals/" | prepend: site.baseurl }}">Dev Portal</a></li>
                    <li><a href="#">Patterns</a></li>
                    <li><a href="#">Usage</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Contracts</a></li>
                  </ul>
                </div>

                <div class="mdl-mega-footer__drop-down-section">
                  <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
                  <h1 class="mdl-mega-footer__heading">FAQ</h1>
                  <ul class="mdl-mega-footer__link-list">
                    <li><a href="#">Questions</a></li>
                    <li><a href="#">Answers</a></li>
                    <li><a href="#">Contact us</a></li>
                  </ul>
                </div>

              </div>

              <div class="mdl-mega-footer__bottom-section">
                <div class="mdl-logo">Rakuten Inc.</div>
                <ul class="mdl-mega-footer__link-list">
                  <li><a href="#">Help</a></li>
                  <li><a href="#">Privacy & Terms</a></li>
                </ul>
              </div>
            </footer>
          </div>
        </div>
      </main>
  </body>
</html>